[Unit]
Description=Service that collects data from sensors and sends it to website

[Service]
User=pi
WorkingDirectory=/home/pi/Documents/Flask-IoT-Dashboard
ExecStart=/home/user/.virtualenv/bin/python main.py
Restart=always
# replace /home/user/.virtualenv/bin/python with your virtualenv and main.py with your script

[Install]
WantedBy=multi-user.target